<nav class="navbar navbar-expand-md">
    <div class="row">
        <div class="col-12 text-center">
            <h1>
                {{ 'home.title' | translate }}
            </h1>
        </div>
        <div class="row">
            <div class="col-12"> <button (click)="toogleLanguage('es')"><img src="/assets/images/spain.png"
            alt="spain" /></button>
                <button (click)="toogleLanguage('en')"><img src="/assets/images/uk.png" alt="united-kingdom" /></button>
            </div>
        </div>

    </div>

</nav>